<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <title> Patient Registry </title>
</head>

<body>
    <h1> Login to view Patient Registry: </h1>
    <div>
        <a href="google/" class="login-btn" style="text-decoration:none;">
            <img id="google" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Google_Chrome_icon_%28February_2022%29.svg/180px-Google_Chrome_icon_%28February_2022%29.svg.png"
                style="width:50px;height:50px;">
            <div class="btn-text">
                Login with Google
            </div>
        </a>
    </div>
</body>
</html>