<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static\styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title> User Info</title>
</head>

<body>
    <header class="bg-blue-500 p-4">
        <h1 class="text-white text-3xl font-bold font-mono"> User Info </h1>
        <h1 class="text-white text-right font-mono"> Welcome, {{user.name}} </h1>
        <h2 class="text-black text-right font-mono">
            <a href="/patients" class="logout-btn" style="text-decoration:none;">
                <div class="btn-text">
                    Patient Registry
                </div>
            </a>
        </h2>
        <h2 class="text-black text-right font-mono">
            <a href="/logout" class="logout-btn" style="text-decoration:none;">
                <div class="btn-text">
                    Logout
                </div>
            </a>
        </h2>
    </header>
    <body>
        <div>
            <p class = "font-mono"> Name: {{ user.name }} </p>
            <p class="font-mono"> Email: {{ user.email }} </p>
            <p class="font-mono">  Profile Picture: <img src="{{ user.picture }}" alt="Profile Picture" style="width:50px;height:50px;"> </p>
        </div>
    </body>