<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static\styles.css">
    <title> MySQL Patient Info Table</title>
</head>

<body>
    <h1> MySQL Patient Table</h1>
    <table>
        <thead>
            <tr>
               <th> patient_id </th>
               <th> first_name </th>
               <th> last_name </th> 
               <th> date_of_birth </th>
            </tr>
        </thead>
        <tbody>
            {% for patient in data1 %}
            <tr>
                <td> {{patient.patient_id}} </td>
                <td> {{patient.first_name}}</td>
                <td> {{patient.last_name}}</td>
                <td> {{patient.date_of_birth}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>